# build
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
npm-install.log
build.log
preview.log
*.log

# environment
.env
.env.production
.env.local

# editor
.vscode/
.idea/
.DS_Store

# OS
Thumbs.db
